<div [id]="item.id" style="margin: 0px">
  <div class="row">
    <div style="font-size: 20px; font-weight: bold; display: inline">{{item.title}}</div>
    <div style="float: right; font-style: italic; display: inline" *ngIf="notTooLate(item.participationEndingDate) && !item.validated">
      Date
      limite d'inscription :
      {{item.participationEndingDate}}
    </div>
    <div style="float: right; font-style: italic; display: inline;" *ngIf="!notTooLate(item.participationEndingDate)">
      Cloturé
    </div>
  </div>
  <div class="row" style="margin-top: 5px; margin-bottom: 10px;">
    <div style="font-size: 14px; display: inline; margin-top: 15px; font-style: italic">le {{item.date}}
    </div>
    <div style="margin-bottom: 20px; display: inline; float: right">
      <button md-raised-button *ngIf="available && notTooLate(item.participationEndingDate) && !item.validated"
              id="subscribe" (click)="register(item.id)"
              style="background-color: darkorange; color: white">
        Inscription
      </button>
      <button md-raised-button *ngIf="!available && notTooLate(item.participationEndingDate) && !item.validated"
              id="unsubscribe"
              (click)="unregister(item.id)" style="background-color: darkred; color: white;">Désinscription
      </button>
      <div style="padding-bottom: 20px" *ngIf="!notTooLate(item.participationEndingDate)"></div>
    </div>
  </div>
</div>
